body{
   
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    margin: 12px 165px 32px 165px;
    background-image: url(img/img/s1-bg.png);
    background-repeat: no-repeat;
     background-position: top;
}
.header_section{
    
    
     
  
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 201px;
 
    
}
button{
    width: 160px;
    height: 26px;
    background: #111B47;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border: none;
    color: aliceblue;}

ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
   
    li{margin-right: 60px;
    }
    a{
        font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #505F98;
text-decoration: none;
    }
  
}
main{
    h1{
        
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 66px;
letter-spacing: 1px;
color: #091133;
white-space:pre-line;
margin-bottom: 20px;

    }
    p{
       
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #505F98;
white-space:pre-line;

    }

}
